body{
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
#clsChg{
    position: absolute;
    display: block;
    width: 16vh;
    height: 8vh;
    text-align: center;
    border-radius: 2rem;
    background-color: darkgreen;
    color: white;
    font-size: 6vh;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
#clsChg:hover{
    background-color: green;
}
#hamburger{
    background-color: green;
}
#display{
    width: 92vw;
    margin: 0 auto;
    padding-top: 7vh;
    font-size: 8vh;
}
#word{
    font-size: 12vh;
}
#form{
    position: relative;
    max-width: 92vw;
    width: 78vh;
    height: 20vh;
    margin: 0 auto;
}
#ans{
    border: 2px solid black;
    max-width: 100%;
    margin: 0 auto;
    font-size: 8vh;
}
#giveUp{
    position: absolute;
    right: 0;
    border: 1px solid black;
    width: fit-content;
    background-color: #e7e7e7;
    font-size: 3vh;
    cursor: pointer;
}
#showAns:hover{
    background-color: #c7c7c7;
}
#result{
    width: fit-content;
    margin: 0 auto;
}
#score{
    font-size: 16vw;
    overflow-wrap: break-word;
}
#replay{
    display: none;
    width: 24vw;
    padding: auto;
    margin: auto;
    border-radius: 1rem;
    background-color: red;
    color: white;
    font-size: 4vw;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
#replay:hover{
    background-color: orange;
}
#wrongsBox{
    display: block;
    width: fit-content;
    min-width: 26vw;
    padding: 0.5em 1em;
    margin: 0 auto;
    text-align: left;
}
#caution{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2vh;
}
#count{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 9vh;
    height: 9vh;
    background-color: gray;
    color: white;
    font-size: 7vh;
}
footer{
    position: absolute;
    bottom: -5vh;
    right: 0;
    font-size: 4vh;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}