body{
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
#clsChg{
    position: absolute;
    display: block;
    width: 16vh;
    height: 8vh;
    text-align: center;
    border-radius: 2rem;
    background-color: darkgreen;
    color: white;
    font-size: 6vh;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
#clsChg:hover{
    background-color: green;
}
#hamburger{
    background-color: green;
}
#scoreA{
    position: absolute;
    right: 0px;
    width: fit-content;
    text-align: center;
    font-size: 45px;
}
#display{
    width: 100%;
    height: 100vh;
    font-size: 8vh;
    color: white;
}
#question{
    height: 20%;
}
#word{
    font-size: 8vh;
    color: black;
}
#pronunc{
    font-size: 4vh;
    font-family: "Times New Roman", "Arial", "Courier New", "Segoe UI";
    color: gray;
}
#ans_0{
    width: 50%;
    height: 40%;
    background-color: #d14d28;
}
#ans_0:hover{
    opacity: 0.6;
    cursor: pointer;
}
#ans_1{
    width: 50%;
    background-color: #59c8ef;
}
#ans_1:hover{
    opacity: 0.6;
    cursor: pointer;
}
#ans_2{
    height: 40%;
    background-color: #2b9464;
}
#ans_2:hover{
    opacity: 0.6;
    cursor: pointer;
}
#ans_3{
    background-color: #f5df65;
}
#ans_3:hover{
    opacity: 0.6;
    cursor: pointer;
}
#result{
    width: fit-content;
    min-width: 26vw;
    padding: 0.5em 1em;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.4);
}
#scoreB{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 25px;
}
#perfect{
    display: block;
    width: 100%;
    text-align: "center";
    font-size: 14vw;
    background-color: black;
    color: white;
}
#replay, .playAnother{
    position: relative;
    display: block;
    width: 24vw;
    padding: auto;
    margin: 10px auto;
    border-radius: 1rem;
    background-color: red;
    color: white !important;
    font-size: 4vw;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
#replay:hover, .playAnother:hover{
    background-color: orange;
}
footer{
    font-size: 4vh;
    float: right;
}
a{
    color: blue;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

@keyframes gaming{
    0% { background-color: magenta; }
    33% { background-color: yellow; }
    66% { background-color: Cyan; }
    100% { background-color: magenta; }
}